body{
	padding: 20px;
}
.page_Wrapper {
	padding: 20px;
	background-color: #eee;
	border: 1px solid #999;
	min-width: 800px;
	max-width: 1300px;
}
.sidebar_left {
	padding: 20px 15px;
	float: left;
	width: 200px;
	border: 1px solid #999;
	background-color: #fff;
}
.sidebar_left img {
	float: left;
	/*display: inline-block;*/
}
.sidebar_left #team_name {
	margin: 0 0 0 14px;
	display: inline-block;
	/*padding-left: 20px;*/
	/*width: 180px;*/
}
.sidebar_right img {
	margin: 20px;
	display: block;
}
.sidebar_right {
	/*padding: 20px;*/
	float: right;
	width: 120px;
	border: 1px solid #999;
	background-color: #fff;
}
.main {
	margin-left: 220px;
	margin-right: 140px;
	border: 1px solid #999;
	padding: 0 20px 20px;
	background-color: #fff;
}
* {
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}